.idea/*
node_modules/*
ios/Pods/Pods.xcodeproj/xcuserdata/*
ios/build/*
ios/build
ios/Pods/*
ios/Pods
/node_modules/

android/build
android/app/build
android/.gradle/*
android/.idea/
android/.idea/*

android/local.properties

yarn.lock
package-lock.json

android/settings.gradle


ios/*.xcuserstate
ios/*.xcscheme
ios/*.xccheckout
ios/*.xcsettings
ios/*.xcbkptlist
.DS_Store
*/.DS_Store
ios/xcuserdata

ios/Podfile.lock
my-release-key.keystore